@model CharacterSheetApp.Models.Character
<h2>Characters:</h2>

<div>
  <ul>
    <li>@Model.Name</li>
    <li>Big Edna</li>
    <li>Stinky Dan</li>
    <li>Betty the Log</li>
    <li>Shem</li>
  </ul>
</div>